<header>
    <span id="logo">HACK NASA with HTML</span>
    <nav>
        <ul id="navList">
            <li class="navitem"> <a href="/">Home</a> </li>
            <li class="navitem"> <a href="">Leaderboard</a> </li>
            <li class="navitem"> <a href="/mentors">Mentors</a> </li>
            <li class="navitem"> <a href="https://www.nitj.ac.in">NITJ</a> </li>
            <li class="navitem"> <a href="/login">Login</a> </li>
            <button id="join_now_button" onclick="location.href='/register'">Join Now</button>
        </ul>
    </nav>
</header>