<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BufferOverflow - Forgot Password</title>
    <link rel="stylesheet" href="css/partials/header.css">
    <link rel="stylesheet" href="css/style_forgot-password.css">
</head>
<body>
    <%- include('partials/header.ejs') %>
    <Section id="forgot-password">
        <h3 id="abb_forgot-password">Forgot Password</h3>
        <form action="/forgot-password" method="POST">
            <div style="display: flex; align-items: center; height: 20px;">
                <p style="color: #ef2929"><%= error %></p>
            </div>
            <div id="email_div">
                <h3>Email</h3>
                <input type="email" name="email" id="email">
            </div>
            <div id="forgot-password_button_div">
                <button id="forgot-password_button" type="submit">Reset</button>
            </div>
        </form>
    </Section>
</body>
</html>