*{
    margin: 0;
    padding: 0;
}

body{
    background: #000;
}

#forgot-password{
    background-color: #1e2125;
    border: 1px solid  #92c213;
    box-shadow: 0px 0px 10px #92c213;
    border-radius: 5px;
    width: 28vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    min-height: 280px;
    margin: auto;
    margin-top: 10%;
}

#abb_forgot-password{
    color: #92c213;
    margin: 5% auto;
    font-family: 'Ubuntu', sans-serif;
}

#forgot-password form{
    display: flex;
    flex-direction: column;
}

#forgot-password div{
    margin: 10px 20px;
}

#forgot-password form h3{
    color: white;
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
}

#forgot-password form input{
    background-color: #292e33;
    color: #92c213;
    border: none;
    height: 34px;
    width: 24vw;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

#forgot-password_button_div{
    display: flex;
    width: 24vw;
    justify-content: flex-end;
}

#forgot-password_button{
    background-color: transparent;
    color: white;
    border: 1px solid #92c213;
    padding: 8px 40px;
    border-radius: 4px;
    cursor: pointer;
}

#forgot-password_button:hover{
    background-color: rgba(154,204,20,.1);
    transition: 0.4s;
}

#password_reset_div{
    color: #737373;
    font-size: 85%;
    margin: 5px 20px;
}

#password_reset_div a{
    color: #92c213;
    text-decoration: none;
}