*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
}

h3{
    color: #92c213;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    margin: 20px;
}