*{
    margin: 0;
    padding: 0;
}

body{
    background: #000;
}

header{
    display: flex;
    height: 70px;
    padding: 15px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #92c213;
    box-shadow: 0px 0px 10px #9acc14;
}

#logo{
    font-family: 'Bungee', cursive;
    display: flex;
    align-items: center;
    color: white;
}

header nav{
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

#navList{
    display: flex;
    align-items: center;
    list-style: none;
    width: 50%;
    justify-content: space-around;
}

.navitem{
    text-decoration: none;
}

.navitem a{
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.navitem a:hover{
    color: #9acc14;
    filter: brightness(95%);
    transition: 0.3s;
}

#join_now_button{
    background-color: #9acc14;
    border-radius: 3px;
    padding: 8px 15px;
    box-sizing: border-box;
    color: white;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    border: 1px solid #9acc14;
    cursor: pointer;
}

#join_now_button:hover{
    background-color: #92c213;
}